body {
	padding-top:70px;
}
.register {
	//background:#469785;
}
.register h1 {
	font-size:5em;
	font-family: helvetica, Arial, serif;

}
.register h1:after{
	content: " ";
	display:block;
	width:80px;
	height:6px;
	background:#000;
	margin:.2em auto 0 auto;
}
.mt1 {
	margin-top:1em;
}
.mt2 {
	margin-top:2em;
}
.panels {
	border:1px solid #ddd;
	padding:1em;
	margin-top:5em;
}
.panels h3 {
	font-weight: 200;
}

.welcome-form input, .welcome-form button {
	margin: auto;
  	display: block;
}

.welcome-form {
	margin-top: 0em;
}
.btn-primary {
	background-color: rgb(65, 149, 219);
}

.list h2 {
	font-weight: 200;
	font-family: Helvetica, Arial, serif
}

.panel-default {
	margin-top: 2em;
}
.panel-heading.comment {
	background-color: rgb(65, 149, 219) !important;
}

.no-padding {
	padding:0;
}

.comment-modal textarea{
	border: 0;
 	width: 100%;
	height: 100%;
	resize:none;
	padding-top: 0.8em;
	padding-left: 1em;
}

.menu-items a {
	color:#000;
}


.close-button {
	display: inline;
  	float: right;
}


.modal-header{
	padding-top: 12px !important;
}

.panel-heading {
	background-color: rgb(65, 149, 219) ;
}

#register-indent {
	
}