body {
	padding-top:70px;
}body.bg{
	background: url("/img/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color:white;
}
.register {
	//background:#469785;
}
.register h1 {
	font-size:5em;
	font-family: helvetica, Arial, serif;

}
.register h1:after{
	content: " ";
	display:block;
	width:80px;
	height:6px;
	background:#000;
	margin:.2em auto 0 auto;
}
.mt1 {
	margin-top:1em;
}
.mt2 {
	margin-top:2em;
}
.panels {
	border:1px solid #ddd;
	padding:1em;
	margin-top:5em;
}
.panels h3 {
	font-weight: 200;
}

.welcome-form input, .welcome-form button {
	margin: auto;
  	display: block;
}

.welcome-form {
	margin-top: 0em;
}
.btn-primary {
	background-color: rgb(65, 149, 219);
}

.list h2 {
	font-weight: 200;
	font-family: Helvetica, Arial, serif
}

.panel-default {
	margin-top: 2em;
}
.panel-heading.comment {
	background-color: rgb(65, 149, 219) !important;
}

.no-padding {
	padding:0;
}

.comment-modal textarea{
	border: 0;
 	width: 100%;
	height: 100%;
	resize:none;
	padding-top: 0.8em;
	padding-left: 1em;
}

.menu-items a {
	color:#000;
}


.close-button {
	display: inline;
  	float: right;
}


.modal-header{
	padding-top: 12px !important;
}

#dynamic-content h1{ 
	font-weight: 200;
	font-family: Helvetica, Arial, serif
}
.detail-container h3{
	font-weight: 300;
	padding-bottom:0.4em;
	width:auto;
	border-bottom:2px solid #eee;
	display:inline-block;
	margin:auto;
}
.profile_image {
	width:45px;
}
.panel-heading {
	background-color: rgb(65, 149, 219) ;
}
.fa-2x {
	text-indent: 3%;
}
#topic-topic {
	font-size: 18px;
}
.topic-time {
	font-size: 12px;
	font-style: italic;
}

#topic-textarea {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}

#topic-body {
	background-color: ;
}

.modal-button {
	border-radius: 0px;
}

.btn-default.modal-button {
	margin-left: 88.999%;
}

#topic-modal-button {
	bottom: 3%;
	position: fixed;
	background-repeat: no-repeat;
}

#topic-modal-button:hover {
	opacity: 0.1;
}

#svg1 {
	height: 25px;
	width: 25px;
	position: relative;
	z-index: 1500;
}

#svg2 {
	height: 30px;
	width: 30px;
	position: relative;
	z-index: 99;
}

#myModalLabel {
	display: inline-block;
	background-color: white;
	width: 9em;
}

#logoBild {
	margin-top: -10px;
	margin-left: -15px;
	height: 180px;
	width: 180px;
}

#animationButton {
	border-radius: 50px;
	outline: none;
	background-color: transparent;
	border-width: 1px;
	margin-left: 925px;
	margin-top: -20px;
	padding: none;
}

#animationButton:hover {
	border-width: 2px !important;
	border-color: rgb(65, 149, 219) !important;
}

